@import "./mixin";
@import "./vars";

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    object-fit: cover;
    color : $white;
    @include default_transition(0.3s);
}

body{
    @include setup_size(100vw,100vh);
    background-color: $navy;
}

header{
    @include setup_size(100%, 10vh);
    @include flex_center(column);
    position: relative;
    &>*{margin : 0.25% 0;}
}

img{
    @include setup_size(100%,100%);
}

input, textarea{
    border: none;
}

.title{
    @include font_title();
}

.subtitle{
    @include font_subtitle();
}

.basic{
    @include font_basic();
}

.horizontal-bar{
    @include setup_size(30vw, 1vh);
    border-radius: 32px;
    background-color: $cyan;
    @media only screen and (max-width: $breakpoint) {
        height: 0.5vh;
    }
}

.main-container{
    @include setup_size(100%, 100%);
    padding : 5vh 30vw 0vh;
    @media only screen and (max-width: $breakpoint) {
        padding: 5vh 12.5vw 0vh;
    }
}

.content-container{
    @include setup_size(100%, 85vh);
    padding-top : 2.5vh;
    @media only screen and (max-width: $breakpoint) {
        height: 85vh;
    }
}

.navbar{
    position: absolute;
    right : -5vw;
}

.logout{
    position: absolute;
    left : -5vw;
}

.icon{
    @include setup_size(2.5vw, 2.5vw);
    &:hover{
        transform: scale(1.1);
    }
    @media only screen and (max-width: $breakpoint) {
        @include setup_size(3vh, 3vh);
    }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $navy;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $cyan;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $cyan;
}