@import "../styles/mixin";
@import "../styles/vars";

.labtext{
    @include setup_size(100%, 7.5h);
    display: grid;
    gap : 1vh;
    grid-template-rows: 2.5vh 5vh;
    margin-bottom : 1vh;
    label{
        @include font_basic();
    }
    input{
        @include font_subtitle();
        border-radius: 4px;
        border : none;
        background-color: $pastelCyan;
        color : $navy;
        padding-left: 5%;
    }

    @media only screen and (max-width: $breakpoint) {
        height: 8vh;
        gap : 1vh;
        grid-template-rows: 2vh 5vh;
        margin-bottom : 2.5vh;
    }
    
}

.button{
    @include setup_size(100%, 7.5vh);
    @include font_subtitle();
    color : $cyan;
    border-radius: 8px;
    border: none;
    margin : 4vh 0;
    cursor: pointer;
    @media only screen and (max-width: $breakpoint) {
        height: 7.5vh;
        margin : 1vh 0;
    }
}